*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #38a1ec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}
.card{
    width: 30rem;
    max-height: 28rem;
    height: 20rem;
    background-color:whitesmoke;
    border-radius: 1rem;
    padding: 20px;
}
.form-control{
    display: flex;
    justify-content: space-around;
}  
.form-control input{
    width: 60%;
    border: none;
    outline: none;
    padding: 0.8rem;
    margin-top: 0.8rem;
    background-color:whitesmoke;
    border-bottom: 0.4rem #38a1ec solid;
    border-radius:0.8rem;
    text-align: center;

}
.form-control button{
    width: 25%;
    border: none;
    outline: none;
    padding: 0.8rem;
    margin-top: 0.8rem;
    background-color: #38a1ec;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}
.result{
    position: relative;
}
.result h3{
    font-size: 1.9rem;
    color: #182f3f;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.result .word button{
    background-color: transparent;
    color: #38a1ec;
    border: none;
    outline: none;
    font-size: 2.2rem;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color: #575a7b;
}
.word-exemple{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #38a1ec;
    padding-left: 20px;
    margin-top: 30px;

}